@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 15 23 42;
  --foreground: 226 232 240;
  --primary: 14 165 233;
  --secondary: 71 85 105;
  --accent: 249 115 22;
}

body {
  background: linear-gradient(to bottom right, #0f172a, #1e293b);
  @apply text-slate-200 min-h-screen;
}
